.LoginContainer {
  width: 100%;
  background-image: url(../../assets/login/login_background.png);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .FormWrapper {
    height: inherit;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .VideoWrapper {
      width: 580px;
      height: 382px;
      background-color: #fff;
      background-image: url(../../assets/login/video.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
    }
  }
}