.LoginContainer {
  width: 100%;
  background-image: url(../../assets/login/login_background.png);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}